{{#if isEditing}}
  <form {{action "updateLink" on="submit"}}>
    <div class="form-group">
      {{input type="text" value=link.title placeholder="Title" class="form-control" escape-press="cancelEdition"}}
    </div>

    <div class="form-group">
      {{textarea value=link.description placeholder="Description" class="form-control" escape-press="cancelEdition"}}
    </div>

    <div class="form-group">
      {{input type="text" value=link.url placeholder="URL" class="form-control" escape-press="cancelEdition"}}
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" {{action "cancelEdition" on="click"}}>Cancel</button>
    </div>
  </form>
{{else}}
  <h2 {{action "editLink" on="doubleClick"}}>
    {{#if link.title}}
      {{link.title}}
    {{else}}
      <span class="text-muted">Title not available</span>
    {{/if}}
  </h2>

  <div class="description" {{action "editLink" on="doubleClick"}}>
    {{#if link.description}}
      {{markdown-to-html markdown=link.description}}
    {{else}}
      <p class="text-muted">Description not available</p>
    {{/if}}
  </div>

  <a {{bind-attr href=link.url}} target="_blank">{{link.url}}</a>
  
  {{#unless link.approved}}
    <button type="button" class="btn btn-default" {{action "approveLink" on="click"}}>
      Approve
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  {{/unless}}

{{/if}}
