{{#if isEditing}}
  <form {{action "updateLink" on="submit"}}>
    <div class="form-group">
      {{input type="text" value=link.title placeholder="Title" class="form-control" escape-press="cancelEdition"}}
    </div>

    <div class="form-group">
      {{textarea value=link.description placeholder="Description" class="form-control" escape-press="cancelEdition"}}
    </div>

    <div class="form-group">
      {{input type="text" value=link.url placeholder="URL" class="form-control" escape-press="cancelEdition"}}
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" {{action "cancelEdition" on="click"}}>Cancel</button>
    </div>
  </form>
{{else}}
  <div class="btn-group actions">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      {{#if link.approved}}
        <li><a {{action "unapproveLink"}}>Unapprove</a></li>
      {{else}}
        <li><a {{action "approveLink"}}>Approve</a></li>
      {{/if}}
      <li><a {{action "destroyLink"}}>Delete</a></li>
    </ul>
  </div>

  <h2 {{action "editLink" on="doubleClick"}}>
    {{#if link.title}}
      {{link.title}}
    {{else}}
      <span class="text-muted">Title not available</span>
    {{/if}}
  </h2>

  <div class="description" {{action "editLink" on="doubleClick"}}>
    {{#if link.description}}
      {{markdown-to-html markdown=link.description}}
    {{else}}
      <p class="text-muted">Description not available</p>
    {{/if}}
  </div>
  
  <p>
    <a {{bind-attr href=link.url}} target="_blank">{{link.url}}</a>
  </p>

  <p class="text-muted">
    Link created {{ago link.created_at}}
  </p>
{{/if}}
