{{link-creator-form}}

<div class="link-list">
  {{#each link in model}}
    <div class="link-item">
      <h2>{{link.title}}</h2>
      
      <div class="description">
        {{link.description}}
      </div>
      
      <a {{bind-attr href=link.url}} target="_blank">{{link.url}}</a>
    </div>
  {{else}}
    <p>No links in the database</p>
  {{/each}}
</div>